<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
{% extends 'school/homebase.html' %}

{% block content %}

<br>
<br>

<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">Student Login Panel</h1>
      <p class="subtitle is-4">Welcome to the School Management System</p>
      <hr class="has-background-light" style="margin: 20px auto; width: 50%;">
      <p class="is-size-5">Please Select Any To Continue</p>
      <div class="buttons is-centered mt-4">
        <a class="button is-danger is-large is-rounded" href="studentsignup">New Admission</a>
        <a class="button is-success is-large is-rounded" href="studentlogin">Login</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
